<html>
    <head>
        <%= javascript_include_tag "interventions" %>
    </head>
    <body class="smoothscroll enable-animation">
        <!-- wrapper -->
		<div id="wrapper">       
            <!-- PAGE HEADER -->
                <section class="page-header page-header-xlg parallax parallax-4" style = "background-image: url(<%= asset_path("Rocket_Elevator_Assets/Quote/AdobeStock_556688421.jpg") %>)">
                    <div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>

                    <div class="container">

                        <div class="bold font-raleway wow fadeInUp animated">
                            <h2 class="fs-55 fw-400 text-center">INTERVENTIONS</h2>
                        </div>

                    </div>
                </section>
            <!-- /PAGE HEADER -->

            <!-- QUOTE FORM BEEGINS -->			
                <!-- SECTION TITLE -->
                    <section class="section-xs">
                        <div class="container">
                            <div class="heading-title heading-dotted text-center">
                                <h2 style="font-family: Garamond, Times, serif;">Interventions Form</h2>
                            </div>					
                        </div>
                    </section>
                <!-- /SECTION TITLE -->
                    
                <!-- BOX SELECTION -->
				<%= form_with(model: @intervention, local: true) do |f| %>		
                    <div class="card card-default">
                        <div class="card-block">
                            <!-- /SELECTION -->
                            <form action="/interventions" method="post" id="interventions-form">
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

									<div class="row">
										<div class="col-md-4">
											<%= f.label :customer %>
											<%= f.select(:customer, Customer.all.collect {|c| [c.company_name, c.id]}.sort_by(&:first), {prompt: " Select Customer "}, {class: 'form-control', id: 'customer-select'}) %>
										</div>
										<div class="col-md-4">
											<%= f.label :building_id %>
											<%= f.select(:building, Building.all.collect {|b| [b.id]}, {prompt: "id"},  {class: 'form-control', id: 'building-select'})%>
										</div>										
										<div class="col-md-4">
											<%= f.label :battery_id %>
          									<%= f.select(:battery, Battery.all.collect {|b| [b.id]}, {prompt: "id"}, {class: 'form-control', id: 'battery-select'}) %>
										</div>
										<hr class="m-30" style= "max-width: 95%"/><!-- 1px line separator -->
										<div class="col-md-4">
											<div class="field">
												<%= f.label :column %>
												<%= f.select(:column, Column.all.collect {|c| [c.id]}, {prompt: "id"}, {class: 'form-control', id: 'column-select'}) %>
											</div>
										</div>
										<div class="col-md-4">
											<div class="field">
												<%= f.label :elevator_id %>
												<%= f.select(:elevator, Elevator.all.collect {|e| [e.id]}, {prompt: "id"}, {class: 'form-control', id: 'elevator-select'}) %>
											</div>
										</div>
										<div class="col-md-4">
											<%= f.label :employee_id %>
        									<%= f.select(:employee, Employee.all.collect {|e| [e.full_name, e.id]}, {prompt: " Select your name "}, {class: 'form-control'}) %>
										</div>
										<hr class="m-30" style= "max-width: 95%"/><!-- 1px line separator -->
										<div class="col-md-12">
											<%= f.label :Report %>
											<%= f.text_area :report, class: 'form-control', required: true %>
										</div>
										<hr class="m-30" style= "max-width: 95%"/><!-- 1px line separator -->
									</div>
								</fieldset>

								<div class="row">
									<div class="col-md-12">
										<%= f.submit class: 'btn btn-primary', value: 'CREATE'%>
									</div>
								</div>
							</form>
                            </form>
                        </div>
                    </div>
				<% end %>
                <!-- /BOX SELECTION -->
            <!-- /QUOTE FORM ENDS -->    
        <div>
        <!-- /wrapper -->
     <!-- SCROLL TO TOP -->
	 <a href="#" id="toTop"></a>
    </body>
</html>